:host {
  color: #FFF;
  display: flex;
  flex-direction: column;
  height: 100%;

  > section {
    flex: 1;
  }
}


nav {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;

  > ul > li {
    display: inline-block;
    padding: 0px .5rem;
  }
}
